<a href="https://colab.research.google.com/github/cu29635/machine-learning/blob/main/%EC%8B%A4%EC%8A%B52_%EB%A0%88%EB%AA%A8%EB%84%A4%EC%9D%B4%EB%93%9C_%ED%8C%90%EB%A7%A4_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
데이터 = pd.read_csv(파일경로)
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
# 종속변수, 독립변수
독립 = 데이터[['온도']]
종속 = 데이터[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [ ]:
#모델을 만듭니다.
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
#모델을 학습합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 3ms/step - loss: 4.7473e-04
Epoch 2/10
1/1 [==============================] - 0s 6ms/step - loss: 4.7450e-04
Epoch 3/10
1/1 [==============================] - 0s 4ms/step - loss: 4.7436e-04
Epoch 4/10
1/1 [==============================] - 0s 3ms/step - loss: 4.7414e-04
Epoch 5/10
1/1 [==============================] - 0s 4ms/step - loss: 4.7378e-04
Epoch 6/10
1/1 [==============================] - 0s 3ms/step - loss: 4.7353e-04
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 4.7310e-04
Epoch 8/10
1/1 [==============================] - 0s 3ms/step - loss: 4.7269e-04
Epoch 9/10
1/1 [==============================] - 0s 4ms/step - loss: 4.7230e-04
Epoch 10/10
1/1 [==============================] - 0s 3ms/step - loss: 4.7191e-04

In [ ]:
#모델을 이용합니다.
model.predict(독립)

array([[ 9.757156],
       [10.244149],
       [10.731142],
       [11.218135],
       [11.705128],
       [12.192121]], dtype=float32)

In [ ]:
print("오늘의 온도는 몇 도인가요?")
temp = int(input(''))
lemon = int(model.predict([temp]))
print("오늘은 약 %d잔이 판매될 것입니다." %lemon)